* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-wrapper {
   
    padding-top: 2em;
    width: 100vw;
    height: 100vh;
   background-image: url(./bg.jpg);
   background-size: cover;

}

.details-wrapper {
    border-radius: 25px !important;
    height: 70%;
    width: 50%;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.4); 
   
}

.details-wrapper h2 {
    font-family: 'Roboto', sans-serif;
    
    color: #ffff;
}

.details-wrapper input {
    padding-left: 0.45em;
    background-color: rgb(232, 231, 231);
    margin-top: 0.5em;
    border: none;
    height: 3em;
    width: 80%;
    transition: 3s;
    border-radius: 30px;
   
}

.details-wrapper input:hover{
    transform: scale(1.02);
   
}

.details-wrapper button {
    margin-top: 0.6em;
    background-color: grey;
    border: none;
    font-size: larger;
    font-weight: 600;
    color: white;
    height: 3em;
    width: 80%;
    border-radius: 30px;
   
    box-shadow: 2px 3px 9px 2px ;
}